#**/*
#!./bin/priv/*

_build/
deps/
.git/
.gitignore
Dockerfile
README*
test/
priv/static/


.git
.idea
.rsync_cache
.dockerignore

ansible
node_modules
test
ap
tmp
log

*.js
*.iml
*.json
*.ex
c
is
s
t
u
