#####################
# Elixir
# Source: https://github.com/github/gitignore/blob/master/Elixir.gitignore

/_build
/cover
/deps
/.hex
/.mix
erl_crash.dump
*.ez
*.beam

log/*.log


#####################
# Phoenix Framework
# Reference: https://github.com/phoenixframework/phoenix/blob/master/.gitignore

/db
/tmp
/installer/_build
/installer/tmp

# Since we are building assets from web/static, we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/dev.secret.exs
/config/prod.secret.exs
/config/test.secret.exs

#####################
# JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Directory based project:
/.idea

## File-based project format:
*.iws
*.ipr
*.iml

## Plugin-specific files:

# IntelliJ
/out

#####################
# Node
# Based on: https://github.com/github/gitignore/blob/master/Node.gitignore

# Dependency directories
/assets/node_modules
/assets/.npm

# Spritesmith artifacts
/assets/spritesmith-generated

# Logs
npm-debug.log*
assets/**/*.log

# Optional eslint cache
.eslintcache

#####################
# Ansible

/.rsync_cache
/ansible/*.retry
ansible/.rsync_cache

#####################
# Visual Studio Code

.elixir_ls
